.container{
	margin: 0 auto;
}

h1 {
	margin-top: 5%;
	color: #9B111E;
	text-align: center;
}

#title-img{
	margin: 10px 475px;
	height: 150px;
	width: auto;
}

.container p{
	color: #9B111E;
	font-size: 1.5em;
	text-align: center;
}

.nav-arrow {
  border-top: 25px solid white;
  border-left: 25px solid black;
  border-bottom: 25px solid white; 
  border-right: 25px solid white;
  width: 0;

  margin: 30px 550px;
}

.content {
	color: #9B111E;

	font-size: 1.5em;
	text-align: center;
}

.content li{
	list-style: none;
	margin: 20px 0;
}

#terminal{
	border-style: 1px solid black;
}

.gallery img{
	width: 200px
	height: 200px;
}


